{% load static %}

    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-dark">
        <div class="container py-2">
            <a class="navbar-brand" href="#" style="color:#FFC107;">Metaskills MD Clone</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link footer" aria-current="page" href="#"  style="color:#FFC107;">
                        Our story
                    </a>
                    <a class="nav-link footer" href="#" style="color:#FFC107;">
                        Membership
                    </a>
                    <a class="nav-link footer" href="#" style="color:#FFC107;">Write</a>
                    <a class="nav-link footer" href="#" style="color:#FFC107;">Sign In</a>
                    <a class="nav-link btn btn-warning text-light px-3 rounded-pill ms-3">
                        <span  style="color:black;">Get Started</span></a>
                </div>
            </div>
        </div>
    </nav>